<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="10px" (ngSubmit)="submitForm(f)">
        <mat-form-field>
            <input matInput type="text" placeholder="ایمیل" ngModel email required name="email" #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">ایمیل نباید خالی باشد.</mat-error>
            <mat-error *ngIf="emailInput.hasError('email')">ایمیل نامعتبر می باشد.</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="کلمه عبور باید حداقل 6 کاراکتر داشته باشد.">
            <input matInput type="text" placeholder="کلمه عبور" ngModel required minlength="6" name="password"
                #pw="ngModel">
            <mat-hint align="end">{{pw.value.length}} / 6</mat-hint>
            <mat-error>کلمه عبور کوتاه است.</mat-error>
        </mat-form-field>

        <button *ngIf="!isLoading" type="submit" mat-flat-button color="primary" [disabled]="f.invalid">ورود</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>