<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul class="navigation-items" fxLayout fxLayoutGap="10px">
            <li *ngIf="!isAuthenticated">
                <a mat-icon-button routerLink="/signup">
                    <mat-icon>person-add</mat-icon>
                </a>
            </li>
            <li *ngIf="!isAuthenticated">
                <a mat-icon-button routerLink="/login">
                    <mat-icon>login</mat-icon>
                </a>
            </li>
            <li *ngIf="isAuthenticated">
                <a mat-icon-button routerLink="/training">
                    <mat-icon>home</mat-icon>
                </a>
            </li>
            <li *ngIf="isAuthenticated">
                <a mat-icon-button (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </a>
            </li>
        </ul>
    </div>

</mat-toolbar>